*{
    margin: auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}

body{
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.card-box{
    width: 350px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-header{
    margin:0px;
}

img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

h6{
    padding-left: 15px;
    margin-top: 10px;
}

h1{
    padding-left: 10px;
    margin-bottom: 10px;
}

p{
    padding-left: 10px;
}

button{
    margin: 12px;
    padding: 10px;
    background-color: white;
    color: royalblue;
    border: 1px solid gray;
    border-radius: 4px;
}
